.text-success{
  color:green;
}

.text-danger{
  background-color: rgba(208, 255, 0, 0.781);
}

.special{
  border: 1px solid rgb(0, 81, 255);
  padding: 20px;
  margin: 20px;
}

.texto{
  border: 1px solid rgb(0, 172, 252);
  background-color: rgba(255, 255, 255, 0.479);
  height: 100px;
  width: 200px;
}

.errorClass{
  color: red;
  font-weight: bold;
}
